<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <div class="container-fluid my-2 p-2 form-control w-75 shadow-lg">
        <h1 class="display-3 fw-bold text-info text-center">Sign-Up</h1>
        <input class="form-control my-2" placeholder="First Name..." type="text">
        <input class="form-control my-2" placeholder="Last Name..." type="text">
        <input class="form-control my-2" placeholder="Email..." type="email">
        <input class="form-control my-2" placeholder="Password..." type="password">
        <button class="btn btn-info form-control">Submit</button>
    </div>
</body>
</html>